# 节点标识（建议包含区域信息，如「CN-Shanghai-Node01」）
SCRAPY_NODE_NAME=CN-Shanghai-Node01

# Redis 配置
REDIS_URL=redis://127.0.0.1:6379

# 时区
SCRAPY_TIMEZONE=Asia/Shanghai

# 数据落库配置
DATA_STORE_TYPE=kafka

# 如果使用 Kafka 作为落库目标，需提供以下配置
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_LIST=spider_list_data
KAFKA_TOPIC_DETAIL=spider_detail_data
KAFKA_TOPIC_ERROR=spider_error_data

